@charset "UTF-8";

@mixin center($axis: "both") {
	@if ($axis =="both" or $axis =="vertical") {
		top: 50%;
	}

	@if ($axis =="both" or $axis =="horizontal") {
		left: 50%;
	}

	@if ($axis =="horizontal") {
		transform: translateX(-50%);
	}

	@if ($axis =="vertical") {
		transform: translateY(-50%);
	}

	@if ($axis =="both") {
		transform: translateX(-50%) translateY(-50%);
	}
}
