/*Шрифты------------------------------------*/

@font-face {
	src: url("../fonts/Kamerik 205 Heavy.woff2") format("woff2"), url("../fonts/Kamerik 205 Heavy.woff") format("woff");
	font-family: "Kamerik-3d";
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	src: url("../fonts/Merriweather-Italic.woff2") format("woff2"), url("../fonts/Merriweather-Italic.woff") format("woff");
	font-family: "Merriweather";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
