$sprites: (
	"21vek": (
		normal: (
			x: 1417,
			y: 679,
			width: 30,
			height: 30,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1358,
			width: 60,
			height: 60,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"arrow_up": (
		normal: (
			x: 1449,
			y: 679,
			width: 20,
			height: 25,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2898,
			y: 1358,
			width: 40,
			height: 50,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"boy_center": (
		normal: (
			x: 1155,
			y: 0,
			width: 315,
			height: 500,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2310,
			y: 0,
			width: 630,
			height: 1000,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"boy_note": (
		normal: (
			x: 0,
			y: 730,
			width: 400,
			height: 400,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 0,
			y: 1460,
			width: 800,
			height: 800,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"cg_artist": (
		normal: (
			x: 1417,
			y: 645,
			width: 32,
			height: 32,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1290,
			width: 64,
			height: 64,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"content": (
		normal: (
			x: 1452,
			y: 540,
			width: 17,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2904,
			y: 1080,
			width: 34,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"content_specialist": (
		normal: (
			x: 1452,
			y: 575,
			width: 17,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2904,
			y: 1150,
			width: 34,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"digital_designer": (
		normal: (
			x: 1398,
			y: 796,
			width: 26,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2796,
			y: 1592,
			width: 52,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"fb": (
		normal: (
			x: 1443,
			y: 746,
			width: 25,
			height: 25,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2886,
			y: 1492,
			width: 50,
			height: 50,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"freelance_designer": (
		normal: (
			x: 1361,
			y: 796,
			width: 35,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2722,
			y: 1592,
			width: 70,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"graphic_design": (
		normal: (
			x: 1417,
			y: 540,
			width: 33,
			height: 33,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1080,
			width: 66,
			height: 66,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"hands_like": (
		normal: (
			x: 402,
			y: 730,
			width: 512,
			height: 288,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 804,
			y: 1460,
			width: 1024,
			height: 576,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"integral": (
		normal: (
			x: 1417,
			y: 711,
			width: 30,
			height: 30,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1422,
			width: 60,
			height: 60,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"interface_design": (
		normal: (
			x: 1307,
			y: 746,
			width: 70,
			height: 48,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2614,
			y: 1492,
			width: 140,
			height: 96,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"its": (
		normal: (
			x: 1417,
			y: 575,
			width: 33,
			height: 33,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1150,
			width: 66,
			height: 66,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"jsc": (
		normal: (
			x: 1379,
			y: 746,
			width: 30,
			height: 30,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2758,
			y: 1492,
			width: 60,
			height: 60,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"lead_seo": (
		normal: (
			x: 1426,
			y: 796,
			width: 25,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2852,
			y: 1592,
			width: 50,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"lead_seo_specialist": (
		normal: (
			x: 1307,
			y: 823,
			width: 25,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2614,
			y: 1646,
			width: 50,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"logo": (
		normal: (
			x: 1155,
			y: 746,
			width: 150,
			height: 150,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2310,
			y: 1492,
			width: 300,
			height: 300,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"oz": (
		normal: (
			x: 1411,
			y: 746,
			width: 30,
			height: 30,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2822,
			y: 1492,
			width: 60,
			height: 60,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"processing": (
		normal: (
			x: 1155,
			y: 502,
			width: 260,
			height: 242,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2310,
			y: 1004,
			width: 520,
			height: 484,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"seo_specialist": (
		normal: (
			x: 1417,
			y: 610,
			width: 33,
			height: 33,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1220,
			width: 66,
			height: 66,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"soft_engineer": (
		normal: (
			x: 1451,
			y: 645,
			width: 17,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2902,
			y: 1290,
			width: 34,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"software_support_engineer": (
		normal: (
			x: 1452,
			y: 610,
			width: 17,
			height: 17,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2904,
			y: 1220,
			width: 34,
			height: 34,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"tg": (
		normal: (
			x: 1307,
			y: 796,
			width: 25,
			height: 25,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2614,
			y: 1592,
			width: 50,
			height: 50,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"usability": (
		normal: (
			x: 1417,
			y: 502,
			width: 36,
			height: 36,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2834,
			y: 1004,
			width: 72,
			height: 72,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"vk": (
		normal: (
			x: 1334,
			y: 796,
			width: 25,
			height: 25,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2668,
			y: 1592,
			width: 50,
			height: 50,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"wave_0": (
		normal: (
			x: 0,
			y: 0,
			width: 1153,
			height: 363,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 0,
			y: 0,
			width: 2306,
			height: 726,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"wave_1": (
		normal: (
			x: 1155,
			y: 898,
			width: 103,
			height: 155,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 2310,
			y: 1796,
			width: 206,
			height: 310,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
	"wave_2": (
		normal: (
			x: 0,
			y: 365,
			width: 1153,
			height: 363,
			image: "sprite.png",
			total_width: 1470,
			total_height: 1130,
		),
		retina: (
			x: 0,
			y: 730,
			width: 2306,
			height: 726,
			image: "sprite@2x.png",
			total_width: 2940,
			total_height: 2260,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
