.hero__content
	h1.h1.hero__header Natural Forest
		span HTML / CSS
	p.hero__description Creating a beautiful 3D website with a ‘lens effect’
	button(type="button").hero__button.button.button--start Start Learning
