.logo {
	position: absolute;
	padding: 20px;
	width: 200px;
	aspect-ratio: 1;
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	background-clip: padding-box;
	background-origin: padding-box;
}
