.logo {
	--logo-size: calc(var(--index) * 7.8);

	position: absolute;
	z-index: 1;
	top: calc(var(--index) * 2.8);
	left: calc(50% - (var(--logo-size) / 2));
	padding: 20px;
	width: calc(var(--index) * 7.8);
	aspect-ratio: 1;
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	background-clip: padding-box;
	background-origin: padding-box;
}
