
include logo/_logo.pug

section.layers
	.layers__container
		.layers__item.layer-1
			+image("images/", "layer-1", "jpg", "layer-1", "layer-1")
		.layers__item.layer-2
			+image("images/", "layer-2", "png", "layer-2", "layer-2")
		.layers__item.layer-3
			include hero/_hero.pug
		.layers__item.layer-4
			include rain/_rain.pug
		.layers__item.layer-5
			+image("images/", "layer-5", "png", "layer-5", "layer-5")
		.layers__item.layer-6
			+image("images/", "layer-6", "png", "layer-6", "layer-6")

div(style="height: 100vh")



