extends tpl/layouts/default.pug
append variables
  - title = 'Курсы 3D моделирования'
  - description = 'Курсы 3D моделирования - это прекрасная возможность для вас освоить новую профессию, не выходя из дома'
  - meta.description = 'Курсы 3D моделирования - это прекрасная возможность для вас освоить новую профессию, не выходя из дома. Высококвалифицированные преподаватели помогут вам с выбором специализации. Гарантируется дальнейшее трудоустройство после обучения'
  - meta.keywords = ['курсы', '3D', 'моделирование', 'обучение', 'интенсив']
  - body.classList = ['index']

block main
  main.main
    include blocks/index.pug
    +image("images/", "sergeev", "jpg", "Сергеев", "Сергеев")
